# Compiled objects and modules
*.o
*.mod
*.log
*.out

# Compiler python objects
*.pyc

# emacs backups
*~

# Documentation builds
docs/build

# vi
*swp

# misc
*.txt
date*

# lyx
*.lyx#
*.aux
*.tex

# executables and fortran files
HW1/src/ipkes/ipkes
HW1/src/pkes/pkes
HW1/src/pkes/templates/*.f90
HW1/src/ipkes/templates/*.f90
HW2/src/cmfd
HW2/src/templates/input_t.f90
HW2/src/xml-fortran/xmlreader
HW3/src/cmfd
HW3/src/templates/input_t.f90
HW3/src/xml-fortran/xmlreader
HW4/matlab/
HW4/src/cmfd
HW4/src/templates/input_t.f90
HW4/src/xml-fortran/xmlreader

*.bin
*.info
fort*
