# Compiled objects and modules
*.o
*.mod
*.log
*.out

# Compiler python objects
*.pyc

# emacs backups
*~

# Documentation builds
docs/build

# vi
*swp

# misc
*.txt
date*

# lyx
*.lyx#
*.aux
*.tex

# executables and fortran files
HW1/src/ipkes/ipkes
HW1/src/pkes/pkes
HW1/src/pkes/templates/*.f90
HW1/src/ipkes/templates/*.f90
*.bin
*.info
fort*
